@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
* {
    margin: 0;
    padding: 0;
}

#clockContainer {
    position: relative;
    height: 42vw;
    width: 40vw;
    background: url(/Images/clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    z-index: -1;
}

#hour,
#minute,
#second {
    position: absolute;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
    z-index: 1;
}

#hour {
    width: 2.6%;
    height: 22%;
    top: 28%;
    left: 48.6%;
}

 #minute {
    width: 1.8%;
    height: 33%;
    top: 16%;
    left: 48.95%;
}

#second {
    width: 1%;
    height: 39%;
    top: 10%;
    left: 49.38%;
}

.container {
    position: relative;
    top: 70%;
    height: 3vw;
    width: 9vw;
    margin: auto;
    background-color: #e9e9e9;
    border: 0.8px solid #bbbbbb;
    border-radius: 1.6px;
    z-index: 0;
}

#timebox{
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646464;
    font-family: 'Chakra Petch', sans-serif;
    height: 3vw;
    width: 9vw;
}
